* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    padding: 5px;

    display: flex;

    height: max-content;
}

.aside {
    margin-left: 15px;
}

#squares {
    display: flex;
    flex-wrap: wrap;
    width: 915px;
    /* 15*600px + 15px de left-margin */
    height: max-content;
}

.square {
    width: 60px;
    height: 60px;
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}